<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Parcours Van Gogh 🌻
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>
        {{ message.title }}
        <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      </h1>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <ion-img [src]="'assets/img/' + message.image">
    </ion-img>
    <p class="ion-text-justify">
      {{ message.text }}
    </p>
    <ion-img [src]="'assets/img/carte_' + message.image"></ion-img>
  </div>

</ion-content>